@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.l-container {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.c-txt-small {
  font-size: 11px;
  color: #626262;
  font-weight: lighter;
  line-height: 1.2;
}

.c-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.c-breadcrumb li {
  font-size: 11px;
  font-weight: lighter;
  position: relative;
}
.c-breadcrumb li::after {
  content: "/";
}
.c-breadcrumb li:last-child::after {
  content: "";
}
.c-breadcrumb li a {
  color: #909090;
  text-decoration: underline;
}
.c-breadcrumb li span {
  color: #737373;
}